$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.view {
  color: blue;
}

#sign-up {
  float: left;
  padding: 50px;
}

#sign-in {
  float: left;
  padding: 50px;
}

#logout-info {
  float: right;
}
