$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'assets/styles/colors';

#sign-up {
  float: left;
  padding: 50px;
}

#sign-in {
  float: left;
  padding: 50px;
}

.logout-div {
  float: right;
}

.update-athlete {
  float: left;
}

.panel {
  clear: both;
}
